/*common*/
body{font-family: '微软雅黑';color: #3a3b39;font-size: 12px;}
.wrap{
	width: 1200px;
	margin:0 auto;
}
.clear{
	zoom:1;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}

/***********************头部样式********************************/
header{
	height: 110px;
}
header .headtop{
	width: 1080px;
	height: 34px;
	margin: 0 auto;
    font-family: "宋体";
    padding-top: 4px;
    height: 30px;
    line-height: 30px;
    color: rgb(102, 102, 102);
}
header .headtopr{
	width: 460px;
	height: 31px;
	float: right;   
}

dt {
    display: block;
}
header .headtopfl{
	float: left;
}
header .headtopfl b{
	padding: 0 6px;
}
header .headtopfl .btn_login,header .headtopfl .btn_reg{
	color: #f00180;
}
header .headtopfr{
	float: right;
	width: 157px;
	height: 30px;
	padding-left: 16px;
	background: url(img/phone.png) left 1px no-repeat;
}
header .sec_head{
	width: 1080px;
	height: 76px;
	margin: 0 auto;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}
.sec_head h1{
	font-size: 2em;
	font-weight: bold;
	float:left;
}
.sec_head .top_logo{
	width: 125px;
    height: 50px;
    display: inline;
    float: left;
}
.sec_head .topnav{
	padding-left: 40px;
    font-size: 14px;
    color: #666666;
    padding-top: 13px;
    height: 36px;
    line-height: 36px;
    float: left;
    display: inline;
}   
.topnav a{
	color: #666666;
}

.topnav .selected,.sec_head .topnav a:hover{
	color: red;
} 
.sec_head .topnav span{
	 padding: 0 10px;
}
.sec_head .sec_search{
	width: 536px;
	height: 75px;
	padding: 4px 0 0 0;
	float: right;
	
}  
.topsearch{
	width: 536px;
	height: 34px;
	float: left;
}  
.topsearch .text_search{
	border: 2px solid #e60012;
    height: 30px;
    width: 420px;
    padding: 0 5px;
    float: left;
}
.topsearch .sea_btn{
	font-size: 18px;
    width: 98px; 
    height: 34px;
    line-height: 34px;
    text-align: center; 
    background: #e60012;
    color: #fff;
    float: right;
    border: none;
    margin-right: 4px;
}
.sec_search .btm{
	line-height: 28px;
    padding-bottom: 8px;
}
.sec_search .btm b{
	margin: 0 7px;
} 
.btm .hot{
	color: red;
}
/***********************底部样式********************************/
footer{
	width: 100%;
	height: 353px;
    padding-top: 7px;
    background: #f0f0f0 url(../img/foot.jpg) repeat-x 0 0;
    margin-top: 30px;
}
.explain{
	width: 100%;
	height: 182px;
	padding-top: 32px;
    border-bottom: 1px solid #d9d9d9;
    font-family: \5B8B\4F53;
}
.footleft{
	width: 660px;
    margin: 0 auto;
    float: none;
    padding-left: 12px;
	
}
.footleft dl{
	padding-left: 25px;
    width: 107px;
    height: 149px;
    color: #666;
    float: left;
}
.footleft dt{
	width: 107px;
	height: 22px;
    line-height: 22px;
    font-weight: bold;
    padding-bottom: 7px;
    display: block;
}
.footleft dd{
	width: 107px;
	height: 24px;
    line-height: 24px;
    display: block;
}
.footbtm{
	width:100%;
	height: 65px;
	text-align: center;
    padding-top: 12px;
}  
.msglink{
	height: 28px;
    line-height: 28px;
}     
.msglink a{
	padding: 0 20px;
    color: #555555;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
}   
.msglink span{
	font-size: 10px;
    color: #999999;a
}
.footbtm .msg{
	height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #888888;
    font-family: \5FAE\8F6F\96C5\9ED1;
    text-align: center;
}
.footbtm .tel{
	width: 450px;
	text-align: center;
	height: 44px;
    line-height: 44px;
    color: #333333;
    font-size: 14px;
    font-family: \5FAE\8F6F\96C5\9ED1;
    padding-bottom: 1px;
    position: relative; 
    padding-left: 36px;
    margin: 0 auto;
}
.footbtm .tel b{
	position: absolute;
	left: 80px;
	top: 16px;
    width: 21px;
    height: 14px;
	background: url("img/tel.jpg") no-repeat 0 0;
}
.footbtm .imglink{
	width: 480px;
    margin: 0 auto;
    overflow: hidden;
}    
.footbtm .imglink ul{
	text-align: center;
	width: 490px;
	height: 40px;
}
.footbtm .imglink ul li{
	width: 118px;
	height: 40px;
	display: inline-block;
    float: none;
    padding-right: 10px;
}





























