@charset "UTF-8";
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

li { list-style: none; }

a { text-decoration: none; color: gray; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

/*common*/
body { font-family: '微软雅黑'; color: #3a3b39; font-size: 12px; }

.wrap { width: 1200px; margin: 0 auto; }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

/**************************************表头样式***************************************/
.shopBody { width: 1090px; margin: 0 auto; }

.shopBody .car { width: 1090px; margin: 0 auto; }

.shopBody .car .title { margin-top: 10px; color: #999; border: 1px solid #eaeaea; height: 34px; line-height: 34px; font-size: 12px; background: mistyrose; }

.shopBody .car .title div { padding: 0 10px; float: left; }

.shopBody .car .title .u-chek { width: 17px; height: 18px; display: inline-block; zoom: 1; -webkit-appearance: none; background: url(../css/img/checkboxIcons.png) no-repeat 0 -24px; outline: none; border: none; margin: -6px 10px 0 12px; }

.shopBody .car .title .col1 { width: 114px; }

.shopBody .car .title .col1 .u-chek { width: 17px; height: 18px; display: inline-block; zoom: 1; -webkit-appearance: none; outline: none; border: none; margin: -6px 10px 0 12px; }

.shopBody .car .title .col1 .u-chek:checked { background-position: 0 0; }

.shopBody .car .title .col2 { width: 396px; }

.shopBody .car .title .col3 { width: 132px; }

.shopBody .car .title .col4 { width: 120px; }

.shopBody .car .title .col5 { width: 100px; }

.shopBody .car .title .col6 { width: 106px; }

.shopBody .car .lis1 { margin-top: 10px; padding-left: 10px; color: #999; border: 1px solid #eaeaea; height: 200px; line-height: 34px; font-size: 12px; }

.shopBody .car .lis1 .u-chek { width: 17px; height: 18px; display: inline-block; zoom: 1; -webkit-appearance: none; background: url(../css/img/checkboxIcons.png) no-repeat 0 -24px; outline: none; border: none; margin: -6px 10px 0 12px; }

.shopBody .car .lis1 .u-chek:checked { background-position: 0 0; }

.shopBody .car .lis1 .lism1 { position: relative; }

.shopBody .car .lis1 .lism1 .tupian { display: block; width: 100px; height: 100px; position: absolute; top: 0; left: 100px; }

.shopBody .car .lis1 .lism1 .miaosu { display: block; width: 300px; height: 100px; position: absolute; top: 0; left: 200px; margin-left: 30px; }

.shopBody .car .lis1 .lism1 .now { width: 80px; height: 20px; display: block; position: absolute; top: 10px; left: 560px; text-align: center; line-height: 20px; }

.shopBody .car .lis1 .lism1 .pre { width: 80px; height: 20px; display: block; position: absolute; top: 50px; left: 560px; text-align: center; line-height: 20px; }

.shopBody .car .lis1 .lism1 .sli { float: left; position: absolute; top: 25px; left: 680px; }

.shopBody .car .lis1 .lism1 .sli .jian { width: 20px; height: 24px; text-align: center; line-height: 24px; font-size: 16px; background: #e3e3e3; cursor: pointer; border: 1px solid #aeaeae; float: left; display: inline; }

.shopBody .car .lis1 .lism1 .sli .buyNum { float: left; height: 24px; line-height: 24px; border: 1px solid #aeaeae; border-left: none; border-right: none; text-align: center; }

.shopBody .car .lis1 .lism1 .sli .jia { width: 20px; height: 24px; text-align: center; line-height: 24px; font-size: 16px; cursor: pointer; border: 1px solid #aeaeae; float: left; display: inline; }

.shopBody .car .lis1 .lism1 .now2 { display: block; width: 25%; height: 100px; position: absolute; top: 23px; left: 841px; color: orange; }

.shopBody .car .lis1 .lism1 .shang { display: block; width: 25%; height: 100px; position: absolute; top: 23px; left: 961px; }

.shopBody .car .lis1 .lism1 .xiaoji { width: 40%; height: 50px; margin-top: 70px; margin-right: 10px; position: absolute; top: 30px; right: 0; font-size: 16px; }

/*******************************************************************/
.mai { width: 140px; display: inline; height: 54px; cursor: pointer; margin-top: 14px; margin-left: 16px; position: relative; }

.mai .gou { display: inline-block; width: 140px; height: 55px; position: absolute; top: 0; left: 989px; background: pink; color: white; font-size: 20px; text-align: center; border: 0; }
